/* the other files will be linked to this one */

html {
    background-image: url('https://images.pexels.com/photos/2068975/pexels-photo-2068975.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

#indusSearch {
    background-color: greenyellow;
    margin: 20px;
    text-align: left;
    }
    
#industryStock {
    margin: 10px;
   
    text-align: left;
}

#submitBtn {
    margin: 5px;
}

#termsMenu h3 {
    font-size: 110%;
    font-weight: 500;
}

#title {
    text-align: center;
    font-size: 300%;
    font-weight: 500;
    text-shadow: 3px 3px red;
}

#label {
    font-size: 300%;
    font-weight: 500;
    text-shadow: 3px 3px red;
}
#companyList {
    padding: 50px;
    color:rgb(4, 255, 16);
    font-size: 200%;
    font-weight: 800;
}
.navbar-brand h1 {
    font-size: 300%;
    font-weight: 500;
}
.navbar-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-item {
    margin-left: 10px;
}

.navbar-brand h1 {
    font-size: 300%;
    font-weight: 500;
}
.navbar-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px; 
}
.navbar-item {
    margin-left: 10px;
}

#list-item {
    font-size: 20px;
    font-weight: 500;
}